.user-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 75vh;
  }
  
  .content {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.01);
    }
  }
  
  h2 {
    font-size: 26px;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
      text-align: center;
  }